
.tarjeta1 {
 /* display: flex;
  flex-wrap: wrap;*/
    width: 200px; 
    border: 2px solid #181313;
   border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  
  .car1body {
    padding: 15px;
  }

  .panel {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
  }

  .btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
 
