
<h2>Proximos Eventos</h2>

<select id="miSelect" onchange="obtenerValor()">
   <option value="direccion1">Sant Jordi Club</option>
   <option value="direccion2">Palau Sant Jordi</option>
   <option value="direccion3">Razzmatazz</option>
 </select>



<div *ngFor="let evento of proximosEventos()" >
   <div class="tarjeta1">
      <div class="car1body">
         <b>{{evento.titulo}}</b>
         <p>{{evento.artista}}</p>
         <p>{{evento.direccion}}</p>
         <p>{{evento.fecha}}</p>
         <p>{{evento.precio}}</p>


      </div>
 </div>
</div>

<h2>Eventos Pasados</h2>

<div *ngFor="let evento of Eventospasados()" >
   <div class="tarjeta1">
      <div class="car1body">
         <b>{{evento.titulo}}</b>
         <p>{{evento.artista}}</p>
         <p>{{evento.direccion}}</p>
         <p>{{evento.fecha}}</p>
         <p>{{evento.precio}}</p>


      </div>
 </div>
</div>






