<div class="cardSow">
  <div class="card" *ngFor="let character of serverCharacters">
   <label>Nombre:</label>
    <input type="text" name="n" [(ngModel)]="character.name" [readonly]="!character.editable">
    <label>Fuerza:</label>
    <input type="number" [(ngModel)]="character.strength" [readonly]="!character.editable">
    <label>Agilidad:</label>
    <input type="number" [(ngModel)]="character.agility" [readonly]="!character.editable">
    <label>Inteligencia:</label>
    <input type="number" [(ngModel)]="character.intelligence" [readonly]="!character.editable">
    <label>Life:</label>
    <input type="text" [(ngModel)]="character.life" [readonly]="!character.editable">
    
    <button (click)="toggleEdit(character)">{{ character.editable ? 'Save' : 'Edit' }}</button>
    <button (click)="toggleVisibility(character)">{{ character.editable ? 'Save' : 'Edit' }}</button>

  
    <div *ngIf="character.editable">
      <p>Editing: {{ character | json }}</p>
    </div>
  </div>
  </div>

  
 


