
<h2>Proximos Eventos</h2>

<div class="tarjeta1">
   <div class="card1header">
    <h2>Loki Tour 2</h2>
   </div>
    
     <div class="car1body">
        <b>Destripando la historia</b>
        <p>Dec 16, 2023-14:12h Sant Jordi Club $45:00</p>
     </div>
</div>

<div class="tarjeta2">
   



   <div class="card2header">
      <h2>Periko Tour</h2>
     </div>

     <div class="car2body">
      <b>Remo Renardo</b>
      <p>Dec 19, 2023-20:12h Palau Sant Jordi $10:00</p>
   </div>

</div>


<div class="tarjeta3">
   
   <div class="card3header">
      <h2>Caqui Tour</h2>
     </div>

     <div class="car3body">
           <p>Dec 15, 2023-14:12h Sant Jordi Club Gratis!!</p>
   </div>
</div>


<div class="tarjeta4">
   
   <div class="card4header">
      <h2>Tito Tour</h2>
     </div>

     <div class="car4body">
      <b>Christmas is Coming</b>
      <p>Dec 25, 2023-23:12h Razzmatazz $30:00</p>
   </div>
</div>

<h2>Eventos Pasados</h2>

<div class="tarjeta5">
   
   <div class="card5header">
      <h2>Loki Tour</h2>
     </div>

     <div class="car5body">
      <b>Destripando la historia</b>
        <p>Dec 16, 2023-14:12h Sant Jordi Club $30:00</p>
   </div>
</div>

<h2>Es filtren els events per direcció</h2>
<h2>Proximos Eventos</h2>

<div class="tarjeta6">
   
   <div class="card6header">
      <h2>Periko Tour</h2>
     </div>

     <div class="car6body">
      <b>Remo Renardo</b>
      <p>Dec 19, 2023-20:12h Palau Sant Jordi $10:00</p>
   </div>
</div>



