

<h2 class="nextEvents">Proximos Eventos</h2>


<div class="plegable">

   <label for="direccionSelector">Selecciona una Dirección</label>
   <select id="direccionSelector" [(ngModel)]="selected_direction" (change)="ondiretion()">
      <option *ngFor="let direccion of directions" [value]="direccion">{{direccion}}</option>
   </select>

</div>

<div class="tarjetas">
<div *ngFor="let evento of proximosEventos()" >

<div class="tarjeta1">
      <div class="card1header">
         <b>{{evento.titulo}}</b>
      </div>
      <div class="car1body"> 
         <p>{{evento.artista}}</p>
         <p>{{evento.direccion}}</p>
         <p>{{evento.fecha}}</p>
         <p>{{evento.precio}}</p>
      </div>
   </div>
 
</div>
</div>
<h2 class="passedEvents">Eventos Pasados</h2>

<div class="tarjetas2">
<div *ngFor="let evento of Eventospasados()" >
   <div class="tarjeta2">

      <div class="card2header">
         <b>{{evento.titulo}}</b>
      </div>

      <div class="car2body">
         <b>{{evento.titulo}}</b>
         <p>{{evento.artista}}</p>
         <p>{{evento.direccion}}</p>
         <p>{{evento.fecha}}</p>
         <p>{{evento.precio}}</p>


      </div>
 </div>
</div>
</div>





